build/*
*.swp
*.swo
Testing/*
build.ninja
.ninja_deps
.ninja_log
rules.ninja
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
gen
Makefile
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
doc
*.html
*.css
*.png
config.h
cscope.out
doxylog
