language: c
sudo: required
dist: trusty
compiler:
   - clang
   - gcc

script:
   - mkdir -p build/doc
   - cd build
   - cmake -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTS=ON -DBUILD_CLIENT=ON -DBUILD_SERVER=ON -DCOVERAGE=On ..
   - make
   - ctest -V
   - make doc
   - cat doxylog && [ ! -s doxylog ]

after_success:
   - ./coveralls.sh

env:
    - CFLAGS="-O3"
    - CFLAGS="-O2"
    -

addons:
    apt:
        packages:
        - cmake
        - protobuf-c-compiler
        - libprotobuf-c0-dev
        - libssh-4
        - libssh-dev
        - doxygen
        - lcov
