body {
    font-family: Georgia;
    color: #333;
}

h1 {
    font-size: 150px;
    color: #000;
    margin-bottom: 0px;
}

h2 {
    margin-top:0px;
    color: #000;
    font-size: 50px;
}

p {
    font-size: 30px;
    display: block;
}

#main {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding-bottom: 30px;
}
